*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:#0B0B0B;
color:white;
padding:15px;
}

.header{
text-align:center;
padding:20px;
margin-bottom:20px;
background:linear-gradient(135deg,#00BFFF,#001F3F);
border-radius:15px;
}

.header h1{
color:#FFD700;
font-size:32px;
}

.header p{
margin-top:10px;
}

.card{
background:#111827;
padding:15px;
border-radius:15px;
margin-bottom:15px;
box-shadow:0 0 10px rgba(0,191,255,.3);
}

.card h2{
color:#FFD700;
margin-bottom:10px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#1F2937;
color:white;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#00BFFF;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
opacity:.9;
}

#matches,
#leaderboard{
margin-top:10px;
}

footer{
text-align:center;
margin-top:30px;
padding:20px;
color:#FFD700;
}
